.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.forestgreen{
  background-color: rgb(158, 203, 158);
  font-size: 1.2em;
}

.crimson{
  background-color: rgba(191, 77, 102, 0.711);
  font-size: 1.2em;
}

#main-links > a{
  margin: 10px;
  color: #ced0d2;
 
  font-size: 1.5em;
padding: 2ch;

}


.tableClass{
  font-size: 1.3em;
  font-weight: 900;
  background-color: #d4d6d7;
}


#balance{
  font-weight: 800;
  font-size: 1.5em;
  width: 7cm;
}

.operation{
  font-size: 1.3em;
  font-weight: 600;
}

.category{
  font-size: 1.3em;
}

.backgroundButtons{
  background-color: #122437;
  padding: 2ch;
}